
.btn-custom{
    background-color: #d4a23d !important;
    color: black !important;
    border: none !important;
    text-transform: capitalize;
}

input[type="email"]::placeholder{
    color:rgb(0, 0, 0);
}
input[type="password"]::placeholder{
    color:rgb(0, 0, 0);
}
input[type="Username"]::placeholder{
    color:rgb(0, 0, 0);
}

.bg-light{
    background-color: rgb(231, 231, 231, 231) !important;
}

@media screen and(max-width:996px){
    .text-center{
        min-width: 100vw !important;
    } }