
.btn-custom{
    background-color: orangered !important;
    color: white !important;
    border: none !important;
}
.bg-light{
    background-color: rgb(231, 231, 231, 231) !important;
}
@media screen and(max-width:996px){
    .text-center{
        min-width: 100vw !important;
    } }